.tc-detail-container {
    display: flex;
    position: relative;
    height: inherit;
    // margin: 0 2rem;
    overflow-y: auto;

    > .tc-detail-content {
        flex: 1;
        margin-bottom: 2rem;

        .tc-detail-title-wrapper {
            display: flex;
        }

        .tc-desc-title-icon {
            color: @secondary-color;
        }

        .tc-desc-title {
            display: inline-block;
            padding-left: 0.5em;
        }
    }

    > .tc-detail-info {
        position: sticky;
        top: 0;
        right: 0;
        min-width: 30%;

        padding: 1rem;
        > .ant-card {
            border-radius: 4px;

            > .ant-card-head {
                background-color: @secondary-color-hover;
            }
        }
    }

    .ant-descriptions-bordered {
        // .ant-descriptions-view {
        //     border: 1px solid @primary-color;
        //     > table {
        //         border-color: @primary-color;
        //     }
        // }
        // .ant-descriptions-row {
        //     border-bottom: 1px solid @primary-color;
        //     &:last-child {
        //         border-bottom: none;
        //     }
        // }
        // .ant-descriptions-item-label, .ant-descriptions-item-content {
        //     border-right: 1px solid @primary-color;
        // }

        .ant-descriptions-item-label {
            // background-color: @third-color;
            font-weight: 600;
            font-size: 1.234em;
        }
    }

    .tc-detail-relations {
        margin-right: 2rem;

        .tc-detail-relations-item {
            border-radius: 6px;
            background-color: @body-background-darker;
            transition: background-color 200ms;
            &:hover {
                background-color: @body-background;
            }
            > .tc-detail-relations-content,
            > .ant-list-item-action,
            > .ant-list-item-meta {
                padding-left: 1rem;
            }
        }
    }
}
