.ant-layout-content {
    .detail-left {
        flex: 1;
        display: block;
        padding-right: 10px;

        .detail-order {
            display: flex;
            .detail-order-left {
                width: 50%;
            }
            .detail-order-right {
            }
        }
        .detail-sender {
            display: flex;
            margin-top: 40px;
            border-bottom: 1px solid #b8b8b8;
            padding-bottom: 20px;
            .detail-sender-left {
                width: 50%;
            }
            .detail-sender-right {
            }
        }
    }
    .detail-right {
        width: 30%;

        &.hide {
            display: none;
        }

        .text-gaul {
            color: #ff0000;
            font-size: 13px;
            margin-bottom: 30px;
        }
        .dropdown-gaul {
            color: black;
        }
    }
    .detail-work {
        display: flex;
        margin-top: 15px;
        width: 100%;
        height: 240px;

        &.hide {
            display: none;
        }

        .detail-uploads {
            // padding: 0 5px;
            width: 20%;
            transition: width 150ms;
            overflow: hidden;
            overflow-y: auto;
            position: relative;

            .upload-btn {
                width: 100%;
                position: sticky;
                top: 0;
                z-index: 99;
            }

            .upload-list {
                list-style-type: none;
                margin-inline-start: 0;
                margin-inline-end: 0;
                padding-inline-start: 0;
                margin-block: 0;

                .upload-item {
                    display: flex;
                    padding-left: 10px;
                    transition: background-color 100ms;

                    &:first-child {
                        margin-top: 3px;
                    }

                    &:not(:last-child) {
                        margin-bottom: 3px;
                    }

                    &:hover {
                        background-color: #0000000c;
                    }

                    .upload-detail {
                        &.filename {
                            flex: 1;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;

                            > span {
                                line-height: 1.5715;
                                display: block;
                                padding: 2.4px 0;
                                height: 32px;
                            }

                            > .icon {
                                float: left;
                                padding-right: 1em;
                            }

                            > .title {
                                float: left;
                                font-weight: 500;
                                width: 150px;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                            }
                        }
                        &.action {
                            width: fit-content;
                            > .ant-btn-text {
                                &:hover {
                                    color: @primary-color;
                                }
                            }
                        }
                    }
                }
            }

            &.empty {
                width: 30px;
            }
        }
        .detail-worklog {
            display: flex;
            flex: 1;
            height: 100%;
            overflow-x: hidden;
            overflow-y: auto;
            padding: 0 5px;

            > .tools {
                height: 100%;
                width: 30px;
                list-style-type: none;
                margin-inline-start: 0;
                margin-inline-end: 0;
                padding-inline-start: 0;
                margin-block: 0;
            }

            > textarea {
                flex: 1;
                height: 100%;
                margin-right: 5px;
                resize: none;
            }
        }
        .detail-button {
            padding: 0 5px;
            width: 20%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;

            .detail-button-container {
                display: block;
                width: 90%;

                .d-btn {
                    margin: 7px 0;
                    letter-spacing: 1.5px;
                    border-radius: 3px;

                    &.close {
                        // margin-bottom: 10px;
                        background-color: #7dbe8c;
                        border-color: #7dbe8c;
                    }
                    &.pending {
                        background-color: #ff9a5c;
                        border-color: #ff9a5c;
                    }
                }
            }
        }
    }
}

.order-sider {
    // &.history .order-sider-item {
    //     cursor: zoom-in;
    // }

    .order-sider-item {
        @hover-darker: #0000001d;

        transition: background-color 50ms;

        &:hover {
            background-color: #0000000c;
        }

        &:nth-child(odd) {
            background-color: #0000000e;
            &:hover {
                background-color: @hover-darker;
            }
        }

        .ant-list-item-meta-description {
            > .item {
                display: inline-block;

                &.update-at {
                }
            }
        }

        .order-sider-divider {
            margin: 10px 0 4px 0;
        }

        .file-info {
            cursor: pointer;
        }
    }
}
