.ant-layout-content {
    .detail-left {
        flex: 1;
        display: block;
        padding-right: 10px;

        .detail-order {
            display: flex;
            .detail-order-left {
                width: 50%;
            }
            .detail-order-right {
            }
        }
        .detail-sender {
            display: flex;
            margin-top: 40px;
            border-bottom: 1px solid #b8b8b8;
            padding-bottom: 20px;
            .detail-sender-left {
                width: 50%;
            }
            .detail-sender-right {
            }
        }
    }
    .detail-right {
        width: 30%;

        &.hide {
            display: none;
        }

        .text-gaul {
            color: #ff0000;
            font-size: 13px;
            margin-bottom: 30px;
        }
        .dropdown-gaul {
            color: black;
        }
    }
    .detail-work {
        display: flex;
        margin-top: 15px;
        width: 100%;
        height: 240px;

        &.hide {
            display: none;
        }

        .detail-solution {
            width: 15%;
        }
        .detail-worklog {
            width: 60%;
            height: 100%;
            overflow-x: hidden;
            overflow-y: auto;

            > textarea {
                height: 100%;
                resize: none;
            }
        }
        .detail-button {
            padding: 0 20px;
            width: 25%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            .detail-button-container {
                display: block;
                width: 90%;

                .d-btn {
                    margin: 10px 0;
                    letter-spacing: 1.5px;
                    border-radius: 8px;

                    &.close {
                        // margin-bottom: 10px;
                        background-color: #7dbe8c;
                        border-color: #7dbe8c;
                    }
                    &.pending {
                        background-color: #ff9a5c;
                        border-color: #ff9a5c;
                    }
                }
            }
        }
    }
}
