.ant-layout-content {
    .detailOrder{
        display: flex;
        .detailOrderLeft{
            width: 30%;
        }
        .detailOrderRight{

        }
    }
    .detailSender{
        display: flex;
        margin-top: 40px;
        border-bottom: 1px solid;
        padding-bottom: 20px;
        .detailSenderLeft{
            width: 30%;
        }
        .detailSenderRight{

        }
    }
}