@import "~antd/dist/antd.less";
@import "./antd-vars.less";
@import "./layouts.less";
@import "./tables.less";
@import "./utilities.less";
@import "./order/detail.less";

body {
    overflow: hidden;
}

#__next {
    width: 100vw;
    height: 100vh;

    > .ant-layout {
        width: inherit;
        height: inherit;
    }
}

.tag-status {
    letter-spacing: 2px;
}