@import "~antd/dist/antd.less";
@import "./antd-vars.less";
@import "./layouts.less";
@import "./reports.less";
@import "./tables.less";
@import "./utilities.less";
@import "./ticket/detail.less";
@import "./components.less";

body {
    overflow: hidden;
}

#__next {
    width: 100vw;
    height: 100vh;

    > .ant-layout {
        width: inherit;
        height: inherit;
    }
}

.ant-spin-nested-loading {
    height: 100%;
    >.ant-spin-container {
        height: inherit;
    }
}

.tag-status {
    letter-spacing: 2px;
    user-select: none;
    &:hover {
        filter: brightness(85%);
    }
}